@charset "UTF-8";

/* COnfigurações no modo paisagem (landscape) */

body {
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
}